<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <!-- <link rel="stylesheet" href="/stylesheets/application.css.erb" media="screen" title="no title" charset="utf-8"> -->
  <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>

  <script id="post-view" type="text/template">

<div class="row">


      <div class="post">
          <div id="post-div" class="nine columns">
      <%%= name %>
      </div>
      <div class="three columns">
      <button type="button" id="dark-button2" class="remove">X</button>
       </div>
      </div>

      </div>
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

    <div id="headerdiv" class="container">
       <CENTER><h1>mountain shows blog</h1><CENTER>

     </div>

     <div class="container">
         <p>
             Mountain Shows is a hiking group that hikes Mt. Taurus once a month.
             Musicians from the New York area and touring musicians play on the trail.
             Check out our <a class="facebooklink" href="https://www.facebook.com/Mountain-Shows-227862650670715/info/?tab=page_info">facebook</a>
             for info on upcoming mountain shows. Write your thoughts
             on the hike in this blog.
         </p>

     </div>


     <div id="cooldiv" class="container">

         <div id="navbar" class="row">
             <!-- login button will change to logout if the user is logged in -->
             <%if current_user%>
             <div class="four columns">  <a id="dark-button" class="button" href="/users/new">REGISTER</a></div>
             <div class="four columns">
             <%= button_to "Log Out", '/sessions', method: :delete, :id => 'dark-button' %></div>
             <div class="four columns">  <a id="dark-button" class="button" href="/users/profile">PROFILE</a></div>
            <%else%>
            <div class="four columns">  <a id="dark-button" class="button" href="/users/new">REGISTER</a></div>
            <div class="four columns">  <a id="dark-button" class="button" href="/users/log_in">LOGIN</a></div>
            <div class="four columns">  <a id="dark-button" class="button" href="/users/profile">PROFILE</a></div>
            <%end%>
    </div>


<%= yield %>

</div>



</body>
</html>
